body { background: #eb8113; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-helper-0 { color: #949dc7; font-size: 13px; margin-bottom: 5px; }
.block-cluster-1 { color: #82adc3; font-size: 13px; margin-bottom: 5px; }
.block-session-2 { color: #1fa0ca; font-size: 14px; margin-bottom: 5px; }
.block-product-3 { color: #a2be0; font-size: 17px; margin-bottom: 5px; }
.block-shipping-4 { color: #4c489; font-size: 14px; margin-bottom: 5px; }
.block-sms-5 { color: #f6ff37; font-size: 16px; margin-bottom: 5px; }
.block-sms-6 { color: #369163; font-size: 12px; margin-bottom: 5px; }
.block-user-7 { color: #fa1900; font-size: 13px; margin-bottom: 5px; }